# -*- mode: org; -*-

#+LATEX_HEADER: \makeatletter \@ifpackageloaded{geometry}{\geometry{margin=2cm}}{\usepackage[margin=2cm]{geometry}} \makeatother
#+LATEX_CLASS_OPTIONS: [hidelinks, 11pt]
#+latex_header: \usepackage{siunitx}
#+latex_header: \usepackage{amsmath}
#+latex_header: \usepackage{amssymb}
#+latex_header: \usepackage{mathtools}
#+latex_header: \usepackage{circuitikz}
#+latex_header: \usepackage{float}
#+latex_header: \usepackage{karnaugh-map}
#+latex_header: \usepackage[sfdefault]{plex-sans}
#+latex_header: \usepackage[scale=0.90]{plex-mono}
#+LATEX_HEADER: \usepackage{fancyhdr}
#+LATEX_HEADER: \pagestyle{fancyplain}
#+LATEX_HEADER: \lhead{Bach \textsc{Wongwandanee}}
#+LATEX_HEADER: \rhead{ECE 403}
